<h1>We kid because we love</h1>

<p>but seriously if your device has internet capabilities you can access your goodies.</p> 
<p>for now enjoy this mobile wallpaper : )</p>
<%= link_to image_tag('lb.jpg'), 'for now enjoy this wallpaper'%>
<br/>