<h1>We kid because we love</h1>

<p>but seriously if your device has internet capabilities you can access your goodies.</p> 
<p>for now enjoy this mobile wallpaper : )</p>
<%= link_to image_tag('lb.jpg')%>
<br/>
<p>Coding/Rocking out to: <strong>Said the whale / This winter I retire</strong></p>

<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/151103873&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>