<% if signed_in? %>
  <%#= render 'shared/user_info' %>
  <%= render 'shared/bookmark_form' %>
  <%= render 'shared/feed' %>
<% else %>
  <h1>Social and Private Bookmarks</h1>
  <%= link_to "Login", login_path, class: "button" %>

<% end %>
<br/>
