<% if signed_in? %>
<% if @feed_items.count <= 0 %>
<%= link_to (image_tag('baby-boy-icon.png')), '#' %>
Welcome to Little Bookmarks
<p class = "info todo">Saving bookmarks its's easy as Ctrl + C and Ctrl + V</p>
<%elsif @feed_items.count >= 5 %>
<% else %>
<p class = "info todo">you are getting good!... [ message will self destruct after 5 bookmarks ]</p>
<% end %>
  <%#= render 'shared/user_info' %>
  <%= render 'shared/bookmark_form' %>
  <%= render 'shared/feed' %>
<% else %>
  <h1>Social and Private Bookmarks</h1>
  <%= link_to "Login", login_path, class: "button" %>

<% end %>
<br/>
